/* STYLESHEET TABLE OF CONTENTS
    1 Global
        1.1 Imports
        1.2 Global styling
    2 Page sections
        2.1 Introduction
        2.2 Responses
 */

// 1.1 Imports
@use "global";

// 1.2 Global styling
* { margin: 0; }

body
{
    background: global.$dark;
    color: global.$light;
    padding: 2rem;
}

// 2.1 Introduction
#introduction
{
    font-family: 'Rubik', sans-serif;
}

// 2.2 Responses
#response-list
{
    margin: 2rem;
    font-family: 'Quicksand', sans-serif;
    columns: 10 22rem;

    .response // Individual responses in list
    {
        max-width: 20rem;
        height: max-content;
        background: rgba(global.$light, .1);
        border-radius: 1rem;
        margin-bottom: 2rem;
        break-inside: avoid-column;

        img
        {
            width: 100%;
            transform: translate(-1.5rem, 1.5rem);
            border-radius: 1rem;
        }

        div // Response content (excluding image)
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem 1rem 1rem;

            .copy-button
            {
                position: relative;
                stroke: global.$light;
                transition: 100ms ease;

                &:hover
                {
                    stroke: rgba(global.$light, .7);

                    &::before
                    {
                        position: absolute;
                        top: -2.2rem;
                        left: 50%;
                        content: 'Copy';
                        padding: .3rem .5rem;
                        background: rgba(global.$light, .8);
                        color: global.$dark;
                        border-radius: .3rem;
                        transform: translateX(-50%);
                    }
                }

                &:active { stroke: rgba(global.$light, .3); }
            }
        }
    }
}